* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: normal;
}


.meta {
  width: 1366px;
  height: auto;
}
header {
  display: flex;
  justify-content: space-between;
}

.hero_title {
  width: 70%;
  height: 50px;
  font-weight: bold;
  font-size: 50px;
  color: solid red;
}

.hero_content {
  margin-right: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.main_pic {
  width: 100%;
  height: auto;
  opacity: 0.9;
  
}

ul.khemsebi {
  width: 1366px;
}
li.khemsi {
  width: 224px;
  height: 391px;
  margin: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

li.photo {
  width: 232px;
  height: 225px;
  margin-bottom: 20px;
  padding: 12px;
}
ul {
  width: 905px;
  height: 898px;
  display: flex;
  flex-wrap: wrap;
}
